@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark; /* Force Dark Mode */
}

body {
  margin: 0;
  background-color: #0a0a0a; /* Matches your neutral-950 */
  overflow-x: hidden; /* Prevents horizontal scrollbar glitches */
}

*{
  user-select: none;}